/* 1.1 Theme Reset Style */
html {
    font-size: $base-font-size + px;
}

:root {
    scroll-behavior: unset;
}

body {
    font-family: $base-font;
    color: $body-color;
    background-color: $body-bg-color;
    font-size: 18px;
    font-size: calc-rem-value(18);
    overflow-x: hidden;

    @include media-query(767px) {
        font-size: 14px;
    }
}

p {
    font-size: 18px;
    color: $body-color;
    line-height: 1.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
    // font-family: $heading-font;
    font-weight: 700;
}

ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    @include transition-time(0.2s);
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.hidden {
    display: none;
}

.sr-only {
    display: none !important;
    opacity: 0;
    visibility: hidden;
}

/* 1.2 Global Elements */
.App {
    position: relative;
    overflow: hidden;
}

.page-wrapper {
    position: relative;
    overflow: hidden;
}

.wow {
    visibility: hidden;
}

.fi:before {
    margin: 0;
}

.more {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    background: $theme-primary-color-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid $theme-primary-color;

    @media(max-width:1199px) {
        font-size: 14px;
    }
}

.section-padding {
    padding: 10px 0;

    @include media-query(991px) {
        padding: 90px 0;
    }

    @include media-query(767px) {
        padding: 80px 0;
    }
}

.section-padding1 {
    padding: 60px 0;

    @include media-query(991px) {
        padding: 90px 0;
    }

    @include media-query(767px) {
        padding: 80px 0;
    }
}

.section-padding-bottom {
    padding: 10px 0;

    @include media-query(767px) {
        padding-bottom: 80px;
    }
}

.pt-100 {
    padding-top: 100px;

    @include media-query(991px) {
        padding-top: 80px;
    }

    @include media-query(767px) {
        padding-top: 70px;
    }
}


/*** contact form error handling ***/
.contact-validation-active {
    .error-handling-messages {
        width: 100% !important;
        margin-top: 15px !important;
    }

    label.error {
        color: red;
        font-size: calc-rem-value(14);
        font-weight: normal;
        margin: 5px 0 0 0;
        text-align: left;
        display: block;
    }

    #c-loader,
    #loader {
        display: none;
        margin-top: 10px;

        i {
            font-size: 30px;
            font-size: calc-rem-value(30);
            color: $theme-primary-color;
            display: inline-block;
            -webkit-animation: rotating linear 2s infinite;
            animation: rotating linear 2s infinite;
        }
    }

    #success,
    #c-success,
    #c-error,
    #error {
        width: 100%;
        color: $white;
        padding: 5px 10px;
        font-size: 16px;
        text-align: center;
        display: none;

        @include media-query(767px) {
            font-size: 15px;
        }
    }

    #c-success,
    #success {
        background-color: lighten(green, 5%);
        border-left: 5px solid green;
        margin-bottom: 5px;
    }

    #c-error,
    #error {
        background-color: lighten(red, 5%);
        border-left: 5px solid red;
    }
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 5s alternate infinite;
    animation: rotating 5s alternate infinite;
}


/*** back to top **/
.back-to-top {
    background-color: transparentize($theme-primary-color, 0.3);
    width: 45px;
    height: 45px;
    line-height: 45px;
    border: 2px solid $theme-primary-color;
    border-radius: 45px;
    text-align: center;
    display: none;
    position: fixed;
    z-index: 999;
    right: 15px;
    bottom: 15px;
    @include transition-time(0.2s);

    @include media-query(991px) {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }

    &:hover {
        background-color: $theme-primary-color;
    }
}

.back-to-top i {
    font-size: 18px;
    font-size: calc-rem-value(18);
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    @include center-by-translating();
}


/** for popup image ***/
.mfp-wrap {
    background-color: transparentize($black, 0.1);
    z-index: 99999;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

/*** for fancybox video ***/
.fancybox-overlay {
    background: rgba(0, 0, 0, 0.9);
    z-index: 9999 !important;
}

.fancybox-wrap {
    z-index: 99999 !important;
}

.note-divider {
    border: none;
    border-top: 1px solid #333333;
    margin: 20px 0;
}

.pdf-fullscreen {
    z-index: 1001 !important;
}

body.pdf-open {
    overflow: hidden;
}

body.pdf-open .navbar {
    display: none;
}

.pdf-pages-container {
    max-width: 800px;
    margin: 15px auto;
    // padding: 1rem;
}

.pdf-page {
    margin-bottom: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.react-pdf__Page__canvas {
    height: 280px !important;
}

.pdf-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    margin: 2rem 0;

    @include media-query(767px) {
        margin: 1rem 0;
    }
}

.pdf-thumbnail {
    display: inline-block;
    width: 300px;
    height: 310px;
    margin: 8px;
    border: 2px solid #bdbbbb;
    /* light gray border */
    border-radius: 4px;
    overflow: hidden;
    /* clip the preview */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

.pdf-thumbnail .pdf-preview {
    width: 100%;
    height: 280px;
    cursor: pointer;
    background: #fafafa; 
}

.pdf-thumbnail .pdf-info {
    padding: 4px 0;
    font-size: 0.875rem;
    /* 14px */
    color: #555;
    background: #fff;
    border-top: 1px solid #eee; 
}

.lg-container {
    z-index: 1203 !important;
  }
  
  .lg-backdrop {
    z-index: 1204 !important;
    background-color: rgba(0, 0, 0, 0.9) !important;
  }
  
  .lg-outer {
    z-index: 1205 !important;
  }
  
  .lg-toolbar,
  .lg-close {
    z-index: 1206 !important;
  }

  .gallery {
    max-width: 700px;
    height: 700px;
    margin: 0 auto;
  }
  .gallery__item img {
    width: 100%;
  }