.gallery-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0px;
  overflow: hidden;
  margin-bottom: 2rem;
}

.gallery-container-single-row {
  height: 225px; /* For 1 or 2 photos */
}

.gallery-container-two-rows {
  height: 450px; /* For 3 or more photos */
}

.gallery-grid,
.gallery-grid-single,
.gallery-grid-three-photos,
.gallery-grid-five-plus-photos {
  display: grid;
  gap: 4px;
  margin: 0;
  height: 100%;
}

.gallery-grid {
  grid-template-columns: repeat(2, 1fr);
}

.gallery-grid-single {
  grid-template-columns: 1fr;
}

.gallery-grid-three-photos {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; /* Two equal rows */
}

.gallery-top-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}

.gallery-bottom-row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
}

.gallery-grid-five-plus-photos {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; /* Two equal rows */
  height: 100%;
}

.gallery-grid-five-plus-photos .gallery-top-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}

.gallery-grid-five-plus-photos .gallery-bottom-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}

.gallery-item {
  position: relative;
  width: 100%;
  overflow: visible;
  border-radius: 4px;
  cursor: pointer;
}

.gallery-image {
  width: 100%;
  height: 225px; /* Fixed height for all images */
  object-fit: fit; /* Fill the height, crop if necessary */
  display: block;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
}